* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f2;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}

header {
    margin: 0;
    padding: .5rem;
    background-color: #123b25;
    font-family: serif;
}

header .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

header .banner img {
    margin-right: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);

}

header span {
    color: white;
    background-color: #6b966a;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 2rem;
    text-wrap: nowrap;
    margin-left: 1rem;
    padding: 1rem;
}

nav {
    background-color: #10301f;
    font-family: "Roboto", "sans-serif";
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  /* Stack vertically on mobile */
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
}

nav .active {
    background-color: #6b966a;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    color: black;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
}

/* Hide the menu by default on mobile */
#menu {
    display: none;
    width: 100%;
    text-align: center;
}

/* Show the menu when the hamburger button is clicked */
#menu.active {
    display: block;
}

/* Stacking the menu items vertically (still active on mobile) */
nav ul li {
    border-top: 1px solid #ccc;
}

nav ul li:first-child {
    border-top: none;
}

/* Styles for when a menu item is hovered over */
nav a {
    padding: 1rem;
}

main {
    padding: 1rem;
    display: grid;
    grid-column: 1 / 2;
    grid-template-rows: auto 1fr;
    font-family: serif;
}

main .header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

main .links {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

main .info {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.card {
    border-radius: 20px;
    border: 1px solid black;
    margin: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.card .card_header {
    background-color: #cce1f1;
    border-radius: 20px 20px 0 0;
    padding: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card .body {
    padding: 1rem 1.5rem;
    font-family: "Roboto", "sans-serif" !important;
}

.card ul {
    list-style-type: none;
}

footer {
    background-color: #123b25;
    padding: 1rem;
    text-align: center;
    color: white;
    font-family: "Roboto", "sans-serif";
}